---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$headline-font-family: "Oswald", sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$headline-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$base-url: "https://nilsbutenschoen.de";

$spacing-unit:     30px;

$text-color:       #212121;
$background-color: #fbfbfb;
$brand-color:      #ffc107;
$brand-color-dark: #ff9800;
$headline-color:   $text-color;
$success-color:    #27ae60;
$error-color:      #c0392b;

$grey-color:       #727272;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-phone:         480px;
$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    url('https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300'),
    "mixins",
    "pure-min",
    "base",
    "layout",
    "syntax-highlighting",
    "home",
    "blog",
    "buttons",
    "contact",
    "vita"
;
