.home-portrait {
    border-radius: 10%;
    float: right;
    margin: 0 0 1em 1.5em;
    shape-outside: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    @include media-query($on-phone) {
        height: auto;
        max-width: 50%;
    }
}
