.home-portrait {
    border-radius: 100%;
    float: right;
    margin: 0 0 1em 1.5em;
    shape-outside: circle();
    @include media-query($on-phone) {
        height: auto;
        max-width: 50%;
    }
}
