/**
 * Site header
 */
.site-header {
    background: transparent;
    border-bottom: 1px solid $grey-color-light;
    border-top: 5px solid $brand-color;
    min-height: 56px;
    overflow: hidden;
    // Positioning context for the mobile navigation icon
    position: relative;
    z-index: 10;
    .site-header-background {
        background: url('#{$base-url}/assets/img/header-v3.jpg') center center no-repeat;
        background-size: cover;
        bottom: -2.5vh;
        left: 0;
        opacity: 0.8;
        position: absolute;
        right: 0;
        top: -2.5vh;
        z-index: -9999;
    }
}

.site-title {
    display: block;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 256px;
    text-align: center;
    width: auto;
    &:active,
    &:visited {
        color: $grey-color-dark;
    }
}

#site-logo {
    margin: 2.33em 0;
}

.site-nav {
    float: right;
    font-weight: 400;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            color: $brand-color;
            text-decoration: none;
        }

        &.active {
            color: $brand-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            @include columns(2, 0);
            clear: both;
            display: none;
            text-align: center;
            > .menu-icon {
                display: none;
            }
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 0;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit * 2) 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.rss-subscribe {
    text-align: right;
    svg {
        position: relative;
        top: 3px;
        .cls-1 {
            fill: #fff;
        }

        .cls-2 {
            fill: $brand-color;
        }

        .cls-2, .cls-3 {
            fill-rule: evenodd;
        }

        .cls-3 {
            fill: #000;
            opacity: 0.1;
        }
    }
    a:hover {
        svg {
            .cls-2 {
                fill: darken($text-color, 10%);
            }
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 24px;
        }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 16px;

        @include media-query($on-laptop) {
            font-size: 14px;
        }
    }
}

/*
 * Icon lists
 */
.fa-ul {
    margin-left: 0;
    li {
        .fa-li {
            position: static;
        }
    }
}
