---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}<br>
        {% include reading_time.html %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    <div class="sharing text-right">
        <h3>Sharing is caring</h3>
        <p>
            <a href="http://twitter.com/home?status={{ page.title }} - {{ site.url }}{{ page.url }} via @NilssonT" title="Bei Twitter teilen" target="_blank"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" target="_blank" title="Bei Facebook teilen"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/shareArticle?url={{ site.url }}{{ page.url }}&mini=true&title={{ page.title }}" target="_blank" title="Bei LinkedIn teilen"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}&hl=de" target="_blank" title="Bei Google+ teilen"><i class="fa fa-google-plus-square"></i></a>
        </p>
    </div>

  {% if page.comments_enabled == 1 %}
  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'nilstbutenschoen',
            disqus_title = '{{ page.title }}',
            disqus_url = '{{ site.url }}{{ page.url }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}

</article>
